.fs-extra-small {
  font-size: 13px;
  color: rgb(194, 194, 194);
}

p {
  padding: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

.extra-small-text {
  font-size: 9px;
}
.small-text {
  font-size: 13px;
  color: rgb(165, 165, 165);
}
.medium-text {
  font-size: 14px;
}
.large-text {
  font-size: 17px;
}
.buy-now-text {
  font-size: 15px;
}
.grey-text {
  color: rgb(148, 148, 148);
}

.navbar-custom {
  /* height: 8vh; */
  padding: 16px;
}

/* About Us */
.about-us {
  padding-top: 55px;
}
/* About Us */

/* item card */
.card-body {
  font-family: "Work Sans", sans-serif;
}
/* item card */

/* productDetails */
.product-name {
  font-size: 35px;
  color: black;
}
.product-price {
  font-size: 15px;
  color: rgb(110, 110, 110);
}

@media (max-width: 760px) {
  .product-name {
    font-size: 16px !important;
  }
  .round-button {
    border-radius: 8% !important;
    font-size: 8.5px !important;
    display: block;
    width: 100%;
  }

  .medium-text {
    font-size: 14px !important;
  }
  .small-text {
    font-size: 11px !important;
  }

  .buy-now-text {
    font-size: 11.5px !important;
  }

  /* input */
  .input-group input::placeholder {
    font-size: 10px;
  }
  .input-group {
    height: 12px;
  }

  /* btn */
  .btn-subscribe {
    font-size: 10px;
  }
}

/* btns */
.round-button {
  border-radius: 15%;
  padding: 8px 20px;
  font-size: 13px;
}
.btn-place-order {
  font-size: 12.5px !important;
}

/* icons */
.send-icon {
  size: 30;
}

/* inputs */
.input-group {
  /* height: 10px; */
}

/* Remove the button style for iOS devices */
.round-button::-webkit-inner-spin-button,
.round-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* btns */
