.fs-extra-small {
  font-size: 13px;
  color: rgb(194, 194, 194);
}

p {
  padding: 0;
  margin: 0;
}

.small-text {
  font-size: 13px;
  color: rgb(165, 165, 165);
}

.navbar-custom {
  height: 8vh;
}

/* About Us */
.about-us {
  padding-top: 55px;
}
/* About Us */

/* item card */
.card-body {
  font-family: "Work Sans", sans-serif;
}
.card-body :first-child {
  font-size: 15px;
}
.card-body :last-child {
  font-size: 19px;
}

/* item card */

/* carousel */
.carousel-inner {
  height: 85vh;
}
/* carousel */

/* productDetails */
.product-details :first-child {
  font-size: 35px;
  color: black;
}
.product-details :nth-child(2) {
  font-size: 15px;
  color: rgb(110, 110, 110);
}
/* productDetails */

/* btns */
.round-button {
  border: none;
  background-color: #ffffff; /* Set the background color to your desired color */
  color: #000000; /* Set the text color to your desired color */
  border-radius: 15%; /* Makes the button round */
  padding: 8px 20px; /* Adjust the padding as needed */
  outline: 1px solid grey; /* Remove the default outline (focus ring) */
  box-shadow: none; /* Remove any box shadow */
  font-size: 13px;
}

/* Remove the button style for iOS devices */
.round-button::-webkit-inner-spin-button,
.round-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* btns */
