.carousel-container {
  height: 80vh;
  position: relative;
}

.left-col {
  background-color: #f7f0ea;
}
.right-col {
  position: relative;
  background-size: cover;
  transition: background-image 1s ease-in-out
}

.right-col::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.large-title {
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.large-title h1 {
  text-align: left;
  margin-left: 15vw;
  font-size: 5vw;
  color: #fff;
  margin-bottom: 0;
}
.large-title p {
  text-align: left;
  margin-left: 15vw;
  font-size: 1.6vw;
  color: #fff;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.description {
  text-align: center;
  padding: 10px;
}
.description :first-child {
  font-size: 1.1vw;
  font-weight: 600;
}
.description :nth-child(2) {
  font-size: 0.9vw;
  padding: 0.5vw;
}

@media (max-width: 1000px) {
  .carousel-container {
    height: 40vh;
    position: relative;
  }
}

@media (max-width: 500px) {
  .carousel-container {
    height: 20vh;
    position: relative;
  }
}
